.footer {
  background: #6a6a6a;
  display: flex;
  padding-bottom: 44px;
  padding-top: 44px;
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.footer__text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

@media (width < 1024px) {
  .footer {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .footer__text {
    font-size: 12px;
  }
}

@media (width < 768px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer__text {
    font-size: 10px;
  }
}
