.header {
  align-items: center;
  background: #1f2937;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header__content {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.header__hamburger {
  display: none;
}

@media (width < 1024px) {
  .logo {
    width: 150px;
    height: 40px;
  }
}

@media (width < 576px) {
  .header__hamburger {
    display: block;
  }

  .logo {
    width: 150px;
    height: 35px;
  }
}
