.info {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 32px;
}

.info__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 6px;
}

@media (width < 1024px) {
  .info__title {
    font-size: 18px;
  }
}

@media (width < 768px) {
  .info {
    padding: 14px 16px;
    gap: 5px;
  }

  .info__title {
    font-size: 16px;
    padding-bottom: 0;
  }
}
